@use "../../scss/"as *;

.header-button {
    padding: 0;
    width: 8rem;
    height: 2.5rem;

    @include mobile {
        width: 9rem;
        height: 3rem;
    }

    a {
        display: block;
        font-weight: 700;
        font-size: 1rem;
        padding: 10%;
        color: $white;
    }
}

.MuiAppBar-positionFixed {
    background-color: transparent;
}

.MuiPaper-elevation8 {
    background-color: $body-bg;

    button {
        font-family: $font-family;
        font-weight: 700;
        font-size: 1rem;
        padding: 2rem 1rem;
    }

    li {
        min-height: 0;
        padding: 0rem;
    }

    p {
        padding: 0;
    }

    a {
        font-weight: 700;
        display: block;
        font-size: 1rem;
        color: $main-color;
        padding: 1.5rem 1rem;
    }

}

.MuiPaper-elevation4 {
    background-color: $body-bg;
}

.css-19r6kue-MuiContainer-root {
    padding: 0 2rem
}

.css-1083xa6-MuiTypography-root {
    font-size: 2rem;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgba(110, 110, 110, 0.1);
    border-radius: 3px;
}

header {
    transition: all 0.5s ease !important;

    button {
        padding: 0px;

    }




}